@import '../../../scss/theme/colors.scss';

@keyframes show-content {
	0% {
		transform: translateY(-20px);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

.diet {
	&__modes {
		&-content {
			&-item {
				display: flex;
				gap: 20px;

				@media (max-width: 768px) {
					gap: 11px;
				}
				@media (max-width: 576px) {
					flex-direction: column;
					gap: 40px;
				}
			}
		}
	}
}
