@import '../../../scss/theme/colors.scss';

.diet {
	&__modes {
		&-content {
			&-item {
				display: flex;
				gap: 20px;

				@media (max-width: 768px) {
					gap: 11px;
				}
				@media (max-width: 576px) {
					flex-direction: column;
					gap: 40px;
				}
			}
		}
	}
}
