@import '../../../scss/theme/colors.scss';

@keyframes active-content {
	0% {
		opacity: 0;
		transform: translateY(-20px);
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

.diet {
	&__modes {
		&-content {
			&-item {
				display: flex;
				gap: 20px;
				&.active {
					animation: active-content 0.5s ease-in-out backwards;
				}

				@media (max-width: 768px) {
					gap: 11px;
				}
				@media (max-width: 576px) {
					flex-direction: column;
					gap: 40px;
				}
			}

			&-info {
				flex: 0 1 380px;
				@media (max-width: 992px) {
					flex-basis: 320px;
				}
				@media (max-width: 768px) {
					flex-basis: 250px;
				}

				&-description {
					background: $primary-color;
					box-shadow: 0px 0px 40px rgba(86, 86, 86, 0.3);
					border-radius: 30px;
					padding: 30px 50px 40px;

					@media (max-width: 992px) {
						padding: 20px 40px 30px;
					}
					@media (max-width: 768px) {
						padding: 18px 30px 22px;
					}

					&-title {
						font-family: 'Comfortaa';
						font-style: normal;
						font-weight: 700;
						font-size: 25px;
						line-height: 28px;
						text-transform: uppercase;
						color: #f5faff;
						display: flex;
						align-items: flex-end;
						gap: 20px;

						@media (max-width: 992px) {
							font-size: 19px;
						}
						@media (max-width: 768px) {
							gap: 12px;
							font-size: 15px;
							line-height: 17px;
						}
						@media (max-width: 576px) {
							font-size: 16px;
							line-height: 18px;
						}

						span {
							text-transform: initial;
							font-family: 'Montserrat';
							font-style: normal;
							font-weight: 500;
							font-size: 18px;
							line-height: 26px;

							@media (max-width: 992px) {
								font-size: 14px;
							}
							@media (max-width: 768px) {
								font-size: 11px;
								line-height: 15px;
							}
							@media (max-width: 576px) {
								font-size: 12px;
								line-height: 16px;
							}
						}
					}

					&-text {
						margin-top: 19px;
						font-family: 'Montserrat';
						font-style: normal;
						font-weight: 500;
						font-size: 16px;
						line-height: 20px;
						color: #f5faff;

						strong {
							text-transform: capitalize;
						}

						@media (max-width: 992px) {
							font-size: 13px;
						}
						@media (max-width: 768px) {
							margin-top: 11px;
							font-size: 11px;
							line-height: 13px;
						}
						@media (max-width: 576px) {
							font-size: 12px;
							line-height: 14px;
						}
					}
				}

				&-price-list {
					margin-top: 50px;
					padding: 0 10px;
					display: flex;
					flex-direction: column;
					gap: 15px;

					@media (max-width: 768px) {
						margin-top: 30px;
					}
					@media (max-width: 576px) {
						padding: 15px;
						margin-top: 20px;
						box-shadow: 0px 0px 20px #ccc;
						border-radius: 15px;
					}

					&-item {
						display: flex;
						align-items: baseline;

						font-family: 'Montserrat';
						font-style: normal;
						font-weight: 400;
						font-size: 15px;
						line-height: 18px;
						color: #000;

						@media (max-width: 992px) {
							font-size: 13px;
							line-height: 15px;
						}
						@media (max-width: 768px) {
							font-size: 11px;
							line-height: 13px;
						}
						@media (max-width: 576px) {
							font-size: 13px;
							line-height: 15px;
						}
					}

					&-days {
						flex: 0 1 122px;

						@media (max-width: 768px) {
							flex-basis: 71px;
						}
						@media (max-width: 576px) {
							flex-basis: 83px;
						}
					}

					&-nonsale {
						flex: 1 1 auto;
						text-align: center;
						&:not(.non-line-through) {
							text-decoration: line-through;
						}
					}

					&-sale {
						flex: 0 1 max-content;
					}
				}

				&-btn {
					width: 80%;
					padding: 13px 0;
					margin: 50px auto 0;

					@media (max-width: 992px) {
						font-size: 20px;
						width: 70%;
					}
					@media (max-width: 768px) {
						margin: 30px auto 0;
						padding: 8px 0;

						font-size: 16px;
						line-height: 133.8%;
					}
					@media (max-width: 576px) {
						max-width: 163px;
						margin: 25px auto 0;
					}
				}
			}

			&-shedule {
				flex: 1 1 auto;

				&-days {
					display: flex;
					justify-content: space-around;
					background: #f5faff;
					box-shadow: 0px 0px 40px rgba(86, 86, 86, 0.3);
					border-radius: 30px;
					padding: 14px 0;

					@media (max-width: 768px) {
						padding: 12px 0;
					}
					@media (max-width: 576px) {
						justify-content: space-evenly;
					}
				}

				&-day {
					font-family: 'Comfortaa';
					font-style: normal;
					font-weight: 700;
					font-size: 25px;
					line-height: 28px;
					text-transform: uppercase;
					color: #000;
					cursor: pointer;
					background: transparent;
					border: none;

					transition: 0.3s;
					&.active {
						color: $primary-color;
					}
					&:hover {
						color: $primary-color;
					}

					@media (max-width: 992px) {
						font-size: 19px;
					}
					@media (max-width: 768px) {
						font-size: 14px;
						line-height: 16px;
					}
				}

				&-menu {
					margin-top: 20px;
					padding: 30px 50px 40px;
					background: #f5faff;
					box-shadow: 0px 0px 30px rgba(86, 86, 86, 0.3);
					border-radius: 30px;
					display: flex;
					flex-direction: column;
					gap: 50px;

					@media (max-width: 1200px) {
						padding: 30px 25px 40px;
					}
					@media (max-width: 768px) {
						margin-top: 11px;
						padding: 17px 30px 23px;
						gap: 29px;
					}
					@media (max-width: 576px) {
						margin-top: 20px;
					}

					&-item {
						display: flex;
						gap: 10px;
						align-items: baseline;

						@media (max-width: 992px) {
							gap: 25px;
						}
						@media (max-width: 576px) {
							flex-direction: column;
							gap: 10px;
						}
					}

					&-meal {
						flex: 0 0 120px;
						font-family: 'Montserrat';
						font-style: normal;
						color: #000;

						@media (max-width: 992px) {
							flex-basis: 105px;
						}
						@media (max-width: 768px) {
							flex-basis: 68px;
						}
						@media (max-width: 576px) {
							flex-basis: auto;
							display: flex;
							gap: 20px;
						}

						&-name {
							font-family: 'Montserrat';
							font-style: normal;
							font-weight: 400;
							font-size: 20px;
							line-height: 24px;
							display: block;

							@media (max-width: 1200px) {
								font-size: 17px;
							}
							@media (max-width: 992px) {
								font-size: 14px;
							}
							@media (max-width: 768px) {
								font-size: 12px;
								line-height: 14px;
							}
							@media (max-width: 576px) {
								font-size: 14px;
								line-height: 17px;
							}
						}

						&-time {
							font-weight: 300;
							font-size: 18px;
							line-height: 22px;

							@media (max-width: 1200px) {
								font-size: 15px;
							}
							@media (max-width: 992px) {
								font-size: 13px;
							}
							@media (max-width: 768px) {
								font-size: 11px;
								line-height: 13px;
							}
							@media (max-width: 576px) {
								font-size: 12px;
								line-height: 15px;
							}
						}
					}

					&-dishes {
						flex: 1 1 auto;
						padding-left: 40px;

						@media (max-width: 992px) {
							padding-left: 0;
						}

						&-name {
							font-family: 'Montserrat';
							font-style: normal;
							font-weight: 300;
							font-size: 18px;
							line-height: 22px;
							color: #000;
							display: block;

							@media (max-width: 1200px) {
								font-size: 15px;
							}
							@media (max-width: 992px) {
								font-size: 13px;
							}
							@media (max-width: 768px) {
								font-size: 12px;
								line-height: 14px;
							}
							@media (max-width: 576px) {
								line-height: 15px;
							}
						}
					}

					&-portion {
						flex: 0 1 55px;

						@media (max-width: 992px) {
							flex-basis: 40px;
						}
						@media (max-width: 576px) {
							display: none;
						}

						&-quantity {
							display: block;
							font-family: 'Montserrat';
							font-style: normal;
							font-weight: 300;
							font-size: 18px;
							line-height: 22px;
							color: #000;

							@media (max-width: 1200px) {
								font-size: 15px;
							}
							@media (max-width: 992px) {
								font-size: 13px;
							}
							@media (max-width: 768px) {
								font-size: 12px;
								line-height: normal;
							}
						}
					}
				}
			}
		}
	}
}
