@import '../../../scss/theme/colors.scss';

.phone-button {
	display: flex;
	padding: 12px 0;
	justify-content: center;
	align-items: center;
	background: #f5faff;
	box-shadow: 0px 0px 40px rgba(86, 86, 86, 0.3);
	border-radius: 190px;
	border: 3px solid #f5faff;
	font-weight: 700;
}

.header {
	gastro-phone {
		flex: 0 1 280px;
		@media (max-width: 1200px) {
			flex-basis: 230px;
		}
		@media (max-width: 992px) {
			flex-basis: 160px;
		}
		@media (max-width: 768px) {
			flex-basis: 150px;
		}
		@media (max-width: 700px) {
			flex-basis: 64px;
		}
	}

	&__phone {
		font-size: 20px;
		line-height: 24px;
		color: $primary-color;
		transition: 0.3s;

		&:hover {
			background: $primary-color;
			color: #f5faff;
		}

		@media (max-width: 1200px) {
			font-size: 17px;
		}
		@media (max-width: 992px) {
			font-size: 13px;
		}
		@media (max-width: 768px) {
			font-size: 12px;
		}
		@media (max-width: 700px) {
			&:hover {
				background: #f5faff;
				color: inherit;
			}
		}

		&-num {
			@media (max-width: 700px) {
				display: none;
			}
		}

		&-icon {
			display: none;
			@media (max-width: 700px) {
				display: block;
			}
		}
	}
}

.burger {
	&__phone {
		font-size: 20px;
		line-height: 24px;
		background: $primary-color;
		color: #f5faff;
	}
}
