@import '../../../scss/theme/colors.scss';

.diet {
	&__modes {
		&-mode {
			max-width: max-content;

			&:nth-child(1) {
				grid-area: express-fit;
			}
			&:nth-child(2) {
				grid-area: slim;
			}
			&:nth-child(3) {
				grid-area: fitness;
			}
			&:nth-child(4) {
				grid-area: balance-01;
			}
			&:nth-child(5) {
				grid-area: balance-02;
			}
			&:nth-child(6) {
				grid-area: strong;
			}
			&:nth-child(7) {
				grid-area: maxi-fit;
			}
		}

		&-btn {
			display: flex;
			flex-direction: column;
			align-items: center;
			background: transparent;
			gap: 7px;
			width: 100%;

			font-style: normal;
			text-transform: uppercase;
			color: #000;

			transition: 0.3s;
			cursor: pointer;
			&.active {
				color: $text-active;
			}
			&:hover {
				color: $primary-color;
			}

			@media (max-width: 768px) {
				gap: 4px;
			}

			&-title {
				font-family: 'Comfortaa';
				font-weight: 700;
				font-size: 18px;
				line-height: 20px;
				@media (max-width: 992px) {
					font-size: 16px;
					line-height: 18px;
				}
				@media (max-width: 768px) {
					font-size: 13px;
					line-height: 13px;
				}
			}

			&-cal {
				font-family: 'Montserrat';
				font-weight: 400;
				font-size: 14px;
				line-height: 17px;
				@media (max-width: 992px) {
					font-size: 13px;
					line-height: 16px;
				}
				@media (max-width: 768px) {
					font-size: 11px;
					line-height: 12px;
				}
			}
		}
	}
}
