@import '../../../scss/theme/colors.scss';

.assistance {
	&__order-wrapper {
		flex: 0 0 430px;
		@media (max-width: 992px) {
			flex: initial;
			max-width: 430px;
		}
	}

	&__order {
		&-title {
			font-family: 'Comfortaa';
			font-style: normal;
			font-weight: 700;
			font-size: 30px;
			line-height: 33px;
			text-align: center;
			color: #020202;
			@media (max-width: 992px) {
				font-size: 27px;
			}
			@media (max-width: 576px) {
				font-size: 21px;
				line-height: 22px;
			}
		}

		&-comment {
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 133.8%;
			text-align: center;
			letter-spacing: 0.025em;
			color: #020202;
			@media (max-width: 992px) {
				margin-top: 10px;
			}
			@media (max-width: 576px) {
				font-size: 12px;
			}
		}
	}
}
