.admin-panel {
	padding-top: 270px;
	min-height: 710px;
	@media (max-width: 1200px) {
		padding-top: 240px;
		min-height: 690px;
	}
	@media (max-width: 992px) {
		padding-top: 210px;
		min-height: 660px;
	}
	@media (max-width: 992px) {
		padding-top: 180px;
		min-height: 630px;
	}
	@media (max-width: 768px) {
		padding-top: 160px;
		min-height: 600px;
	}

	&-container {
		max-width: 900px;
		margin: 0 auto;
	}
}
