@import '../../../../scss/theme/colors.scss';

.diet {
	padding-top: 100px;
	padding-bottom: 160px;
	position: relative;
	overflow: hidden;

	@media (max-width: 992px) {
		padding-bottom: 120px;
	}
	@media (max-width: 768px) {
		padding: 50px 0;
	}

	&-container {
	}

	&__tabs {
		&-btns {
			display: flex;
			justify-content: center;
			gap: 20px;

			gastro-button {
				flex: 0 1 50%;
			}

			@media (max-width: 768px) {
				gap: 11px;
			}
			@media (max-width: 576px) {
				flex-direction: column;
				gap: 15px;
			}
		}

		&-btn {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 17px 0;
			background: #dee6ee;
			border-radius: 190px;

			font-family: 'Comfortaa';
			font-style: normal;
			font-weight: 700;
			font-size: 25px;
			line-height: 28px;
			color: #000;

			transition: 0.3s;
			cursor: pointer;

			&.active {
				box-shadow: 0px 0px 40px rgba(86, 86, 86, 0.3);
				background: $primary-color;
				color: #f5faff;
			}
			&:hover {
				box-shadow: 0px 0px 40px rgba(86, 86, 86, 0.3);
				background: $primary-color;
				color: #f5faff;
			}

			@media (max-width: 1200px) {
				font-size: 20px;
				padding: 15px 0;
			}
			@media (max-width: 768px) {
				font-size: 16px;
				line-height: 18px;
			}
		}
	}

	&__modes {
		&-btns {
			margin-top: 70px;
			display: flex;
			justify-content: space-between;

			@media (max-width: 768px) {
				margin-top: 40px;
			}
			@media (max-width: 576px) {
				display: grid !important;
				grid-template-columns: repeat(3, 1fr);
				grid-template-rows: repeat(3, max-content);
				grid-template-areas:
					'express-fit slim fitness'
					'balance-01 balance-02 strong'
					'maxi-fit maxi-fit maxi-fit';
				grid-row-gap: 18px;
			}
		}

		gastro-diet-mode-button {
			&:nth-child(1) {
				grid-area: express-fit;
			}
			&:nth-child(2) {
				grid-area: slim;
			}
			&:nth-child(3) {
				grid-area: fitness;
			}
			&:nth-child(4) {
				grid-area: balance-01;
			}
			&:nth-child(5) {
				grid-area: balance-02;
			}
			&:nth-child(6) {
				grid-area: strong;
			}
			&:nth-child(7) {
				grid-area: maxi-fit;
			}
		}

		&-btn {
			display: flex;
			flex-direction: column;
			align-items: center;
			background: transparent;
			gap: 7px;
			max-width: max-content;
			margin: 0 auto;

			font-style: normal;
			text-transform: uppercase;
			color: #000;

			transition: 0.3s;
			cursor: pointer;
			&.active {
				color: $primary-color;
			}
			&:hover {
				color: $primary-color;
			}

			@media (max-width: 768px) {
				gap: 4px;
			}

			&-title {
				font-family: 'Comfortaa';
				font-weight: 700;
				font-size: 18px;
				line-height: 20px;

				@media (max-width: 768px) {
					font-size: 12px;
					line-height: 13px;
				}
			}

			&-cal {
				font-family: 'Montserrat';
				font-weight: 400;
				font-size: 14px;
				line-height: 17px;

				@media (max-width: 768px) {
					font-size: 10px;
					line-height: 12px;
				}
			}
		}

		&-content {
			margin-top: 50px;

			@media (max-width: 768px) {
				margin-top: 30px;
			}
		}
	}

	&__circle-md--filled {
		position: absolute;
		left: -300px;
		top: 0;
		width: 544px;
		height: 544px;
		border-radius: 50%;
		background: rgba(38, 240, 58, 0.1);
		box-shadow: 1px 1px 10px #eee;
		z-index: -1;

		@media (max-width: 1200px) {
			width: 470px;
			height: 470px;
			top: 320px;
		}
		@media (max-width: 992px) {
			width: 400px;
			height: 400px;
			top: 370px;
		}
		@media (max-width: 768px) {
			top: 200px;
		}
		@media (max-width: 576px) {
			top: 300px;
		}
	}

	&__circle-md--transparent {
		position: absolute;
		right: -60px;
		bottom: 10px;
		width: 530px;
		height: 530px;
		border: 30px solid rgba(38, 240, 58, 0.1);
		border-radius: 50%;
		z-index: -1;

		@media (max-width: 992px) {
			width: 450px;
			height: 450px;
			right: -200px;
		}
		@media (max-width: 768px) {
			display: none;
		}
	}
}
