@import '../../../../scss/theme/colors.scss';

.articles {
	position: relative;
	&-container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-column-gap: 10px;
		grid-row-gap: 60px;
		padding: 270px 40px 100px;
		@media (max-width: 1450px) {
			padding-left: 80px;
			padding-right: 80px;
		}
		@media (max-width: 1200px) {
			grid-column-gap: 24px;
			padding-top: 250px;
			max-width: max-content;
			margin: 0 auto;
			grid-template-columns: repeat(2, 1fr);
			grid-row-gap: 40px;
		}
		@media (max-width: 992px) {
			padding-top: 200px;
		}
		@media (max-width: 768px) {
			padding-left: 0;
			padding-right: 0;
			padding-top: 180px;
			grid-template-columns: repeat(1, 1fr);
		}
	}

	&__circle-bg {
		width: 520px;
		height: 520px;
		border: 30px solid rgba($color: $primary-color, $alpha: 0.3);
		position: absolute;
		bottom: -300px;
		left: -250px;
		border-radius: 50%;
		z-index: -1;
		@media (max-width: 1200px) {
			width: 450px;
			height: 450px;
		}
		@media (max-width: 576px) {
			border-width: 20px;
			left: -300px;
		}
	}
}
