@import '../../../scss/theme/colors.scss';

.diet {
	&__modes {
		&-content {
			&-shedule {
				&-day {
					font-family: 'Comfortaa';
					font-style: normal;
					font-weight: 700;
					font-size: 25px;
					line-height: 28px;
					text-transform: uppercase;
					color: #000;
					cursor: pointer;
					background: transparent;
					border: none;

					transition: 0.3s;
					&.active {
						color: $primary-color;
					}
					&:hover {
						color: $primary-color;
					}

					@media (max-width: 992px) {
						font-size: 19px;
					}
					@media (max-width: 768px) {
						font-size: 15px;
						line-height: 16px;
					}
				}
			}
		}
	}
}
