$primary-color: #64d370;
$primary-light-color: #f5faff;
$text-hover: $primary-color;
$text-active: #3d9646;
$text-clicked: $primary-color;
$success-color: $primary-color;
$danger-color: #f87676;
